# Dependencies
node_modules/

# Build output
dist/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Capacitor (if using for mobile)
android/
ios/
